<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        /* Add your custom styles here */
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .table-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <h1>Classes</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Description</th>
                        <th>Trainer</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>Max Capacity</th>
                        <th>Remaining Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                        <tr>
                            <td>{{ class.class_name }}</td>
                            <td>{{ class.description }}</td>
                            <td>{{ class.trainer.fullname }}</td>
                            <td>{{ class.class_date }}</td>
                            <td>{{ class.class_time }}</td>
                            <td>{{ class.duration }}</td>
                            <td>{{ class.max_capacity }}</td>
                            <td>{{ class.remaining_capacity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Bootstrap JS and jQuery (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
